/*Proyectos*/
/*Proyectos*/
.card {
    border: none;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    margin: 1rem;
  }
    
  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
  }
    
  .card-img-top {
    height: 250px;
    object-fit: cover;
  }
  
  .card.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  
  .collapse.show {
    display: block;
  }
  
  .btn:focus {
    outline: none;
    box-shadow: none;
  }
  
  /* Ajuste de la altura de la ventana emergente según el contenido */
  .modal-body {
    overflow-y: auto;
    height: 100%;
  }
  
  /* Personalización del botón de cerrar en la ventana emergente */
  .modal-header .close {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    opacity: 1;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
  }
  
  .modal-header .close:hover {
    color: #e74c3c;
  }
  
  /* Estilo para las ventanas emergentes */
  .modal-content {
    border: none;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    max-height: 100%;
    overflow-y: auto;
  }
  
  .modal-header {
    background-color: #f5f5f5;
    border-radius: 5px 5px 0 0;
    padding: 15px;
  }
  
  .modal-title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
  }
  
  .modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  /* Ajuste del tamaño de la ventana emergente en dispositivos móviles */
  @media (max-width: 576px) {
    .modal-dialog {
      margin: 0.5rem;
      height: 100%;
    }
  }
  



/*.card {
  border: none;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  margin: 1rem;
  }
  
.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
  }
  
.card-img-top {
  height: 250px;
  object-fit: cover;
  }
.card.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  .collapse.show {
    display: block;
  }
  
  .btn:focus {
    outline: none;
    box-shadow: none;
  }
/* Ajuste de la altura de la ventana emergente según el contenido */
.modal-body {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

/* Personalización del botón de cerrar en la ventana emergente */
.modal-header .close {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  opacity: 1;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.modal-header .close:hover {
  color: #e74c3c;
}


/* Estilo para las ventanas emergentes */
.modal-content {
  border: none;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  max-height: 100%;
  overflow-y: auto;
}

.modal-header {
  background-color: #f5f5f5;
  border-radius: 5px 5px 0 0;
  padding: 15px;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
}

.modal-body {
  font-size: 16px;
  line-height: 1.5;
  padding: 15px;
}

/* Ajuste del tamaño de la ventana emergente en dispositivos móviles */
@media (max-width: 576px) {
  .modal-dialog {
    margin: 0.5rem;
    height: 100%;
  }
}
